<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- interface와 연결되는 mapper XML파일 -->
<!-- namespace 속성 설정은 필수!!! => mapper interface의 풀네임 -->
<mapper namespace="com.hi.board.mapper.BoardMapper">

	<!-- 페이징 리스트 select -->
	<select id="selectList" resultType="com.hi.board.domain.BoardDTO" parameterType="com.hi.board.domain.PageOption">
		select * from tbl_board
		<where>
			<if test="searchOption.searchType != null and searchOption.keyword != null">
				<!-- 제목 -->
				<if test="searchOption.searchType == 'title'">title like concat('%', #{searchOption.keyword}, '%')</if>
				<!-- 내용 -->
				<if test="searchOption.searchType == 'content'">content like concat('%', #{searchOption.keyword}, '%')</if>
				<!-- 작성자 -->
				<if test="searchOption.searchType == 'writer'">writer like concat('%', #{searchOption.keyword}, '%')</if>
			</if>
		</where>
		order by bno desc limit #{startNum}, #{count}
	</select>

	<!-- 전체 select -->
	<select id="selectTotalCount" resultType="int" parameterType="com.hi.board.domain.BoardSearchOption">
		select count(*) from tbl_board
		<where>
			<if test="searchType != null and keyword != null">
				<!-- 제목 -->
				<if test="searchType == 'title'">title like concat('%', #{keyword}, '%')</if>
				<!-- 내용 -->
				<if test="searchType == 'content'">content like concat('%', #{keyword}, '%')</if>
				<!-- 작성자 -->
				<if test="searchType == 'writer'">writer like concat('%', #{keyword}, '%')</if>
			</if>
		</where>
	</select>
	
	<!-- 리스트 select -->
	<select id="selectAll" resultType="com.hi.board.domain.BoardDTO">
		select * from tbl_board
	</select>

	<!-- 상세 select -->
	<select id="selectByBno" resultType="com.hi.board.domain.BoardDTO">
		select * from tbl_board where bno=#{bno}
	</select>

	<!-- 등록 insert -->
	<insert id="insertBoard" parameterType="com.hi.board.domain.RequestRegBoard">
		<!-- file : 파일의 이름을 저장하는 문자열 -->
		insert into tbl_board (title, content, writer, file) values (#{title}, #{content}, #{writer}, #{filename})
	</insert>

	<!-- 수정 update -->
	<update id="updateBoard" parameterType="com.hi.board.domain.RequestModifyRequest">
		update tbl_board set title=#{title}, content=#{content}, writer=#{writer}, file=#{filename}, updatedate=now() where bno=#{bno}
	</update>

	<!-- 삭제 delete -->
	<delete id="deleteBoard">
		delete from tbl_board where bno=#{bno}
	</delete>

</mapper>
